on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code.
        uses: actions/checkout@v2
      - name: Install nix.
        uses: cachix/install-nix-action@v13
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      # Would using cachix help in anyway? I think we are not building anything, we're
      # only fetching things from cache.nixos.org and iohk.cachix.org
      # - uses: cachix/cachix-action@v10
      #   with:
      #     name: twaudit-libs
      #     authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Accessing the cabal cache.
        uses: actions/cache@v2
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: cabal-cache-${{ github.sha }}
          restore-keys: |
            cabal-cache
      - name: Chmod test script.
        run: |
          chmod u+x tests/run-tests.sh
      - name: Build and test.
        run: |
          nix-shell --run "./tests/run-tests.sh --ci" --allowed-uris 'https://github.com/NixOS/nixpkgs https://github.com/input-output-hk https://github.com/NixOS/nixpkgs-channels' --option trusted-public-keys "hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=" --option substituters "https://hydra.iohk.io https://iohk.cachix.org https://cache.nixos.org/" nix/ci.nix
      - name: Commit and push cabal files if necessary
        if: success() && github.ref != 'refs/heads/main'
        shell: bash
        run: |
          changes=$(git status --porcelain=1 | grep "^ M" | grep ".cabal" | sed 's/ M //')
          if [[ ! -z "$changes" ]]; then
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add -f $changes
            git commit -m "Generated cabal files"
            git push
          fi

