on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-test:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code (from PR).
      uses: actions/checkout@v2.4.0

    - name: Install nix.
      uses: cachix/install-nix-action@v15
      with:
        nix_path: nixpkgs=channel:nixos-unstable
      # Would using cachix help in anyway? I think we are not building anything, we're
      # only fetching things from cache.nixos.org and iohk.cachix.org
      # - uses: cachix/cachix-action@v10
      #   with:
      #     name: plutus-libs
      #     authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      
    - name: Accessing the cabal cache.
      uses: actions/cache@v2
      with:
        path: |
          ~/.cabal/store
          dist-newstyle
        key: cabal-cache-${{ github.sha }}
        restore-keys: |
          cabal-cache

    - name: Accessing the result cache
      uses: actions/cache@v2
      with:
        path: |
          ./*.out
          ./*.res
        key: result-cache-${{ github.sha }}

    - name: Chmod test script
      run: |
        chmod u+x .github/scripts/build-haddock

    - name: Build documentation
      uses: ./.github/actions/nix-run
      with:
        command: ./.github/scripts/build-haddock

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
